<h1>Welcome to GoodBurger</h1>

<h2>Burgers to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block }}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/devoured-block }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="yummy">Burger Name:</label>
    <input type="text" id="yummy" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>